{% extends 'base.html' %}
{% load static %}
{% block title %}
about apge
{% endblock %}


{% block main %}
<div class="row" data-aos="flip-down">
    <div class="col-sm-12 text-center" style="padding-top: 60px; padding-bottom: 60px;">
        <h1 class="display-2" style="color: red; ;"><b><b style="text-shadow: 1px 1px 0 #000,2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000,5px 5px 0 #000,6px 6px 0 #000,7px 7px 0 #000,8px 8px 0 #000,9px 9px 10px rgba(0, 0, 0, 0.5);" data-aos="flip-down">About SmartBuildHub</b></b></h1>

        <p class="mt-5" style="font-size: large;"><b>Revolutionizing the construction industry with innovative smart
                building solutions <br> and sustainable practices.</b></p>
    </div>
</div>


<!--  our mission start -->
<div class="row">
    <div class="col-sm-12 text-center">
        <p style="color: red;">WHO WE ARE</p>
        <h1><b><b>Our Mission</b></b></h1> <br><br><br>
        <p><b>At SmartBuildHub, we're committed to transforming the future of construction through cutting-edge <br>
                technology, sustainable practices, and unparalleled expertise. We believe in <br> creating buildings
                that are not just structures, but intelligent ecosystems that enhance lives.</b></p>


        <div class="row ">
            <div class="col-sm-11 mx-auto" >
                <div class="row" style="margin-top: 30px; margin-bottom: 100px;" data-aos="flip-up">
                    <div class="col-sm-3 ps-4 mx-auto">
                        <div class="card-h" style="width: 15rem; border:2px solid black;">
                            <h2 class="text-center mt-2 " style="color: red;"><b>250+</b></h2> 
                            <p class="text-center fw-semibold " style="color: red;">Project Complete</p>
                        </div>
                    </div>
                    <div class="col-sm-3 mx-auto ">
                        <div class="card-h" style="width: 15rem; border:2px solid black">
                            <h2 class="text-center mt-2 " style="color: red;"><b>30+</b></h2>
                            <p class="text-center fw-semibold " style="color: red;">Year Experience</p>
                        </div>
                    </div>

                    <div class="col-sm-3 mx-auto">
                        <div class="card-h" style="width: 15rem; border:2px solid black">
                            <h2 class="text-center mt-2 " style="color: red;"><b>98%</b></h2>
                            <p class="text-center fw-semibold " style="color: red;">Client Satisfaction</p>
                        </div>
                    </div>

                    <div class="col-sm-3 mx-auto">
                        <div class="card-h" style="width: 15rem; border:2px solid black">
                            <h2 class="text-center mt-2 " style="color: red;"><b>42</b></h2>
                            <p class="text-center fw-semibold " style="color: red;">Industy Award</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<!--  our mission end -->


<!-- our jounery start -->
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-6">
                <p style="color: red;"> <b>OUR JOURNEY</b>
                </p>
                <h1><b><b>Our Story</b></b></h1>
                <br><br>
                <p><b>Founded in 2010, SmartBuildHub began with a simple vision: to integrate smart technology into
                        every aspect of construction and building management. What started as a small team of innovators
                        has grown into an industry-leading company.</b></p> <br>
                <p><b>Over the years, we've pioneered numerous building technologies that have revolutionized how
                        structures are designed, built, and maintained. Our commitment to sustainability and innovation
                        has earned us recognition as one of the most forward-thinking companies in the construction
                        sector.</b></p> <br><br><br>
            </div>
            <div class="col-sm-6 mt-5 py-5 ps-5">
                 <img src="{% static 'img/HubOffice.jpg' %}" alt="" height="300px">
            </div>

        </div>
    </div>
</div>

<!-- our jounery end -->


<!-- Our Core Values start -->


<div class="row">
    <div class="col-sm-12  text-center">
        <p style="color: red;"><b>WHAT DRIVES US
            </b></p>
        <h1><b><b>Our Core Values</b></b></h1> <br><br><br>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-sm-3"data-aos="zoom-in">
                <div class="card ps-4" style="width: 15rem; border:2px solid black">
                    <h2 class="ps-5 mt-2 " style="color: red;"><b>🌱</b></h2> <br>
                    <b> <b>Sustainability</b></b> <br>
                    <p class=" fw-semibol">We prioritize eco-friendly materials and
                        energy-efficient designs in every project we undertake.

                    </p>
                </div>
            </div>
            <div class="col-sm-3" data-aos="zoom-in">
                <div class="card ps-4" style="width: 15rem; border:2px solid black">
                    <h2 class="ps-5 mt-2 " style="color: red;"><b>💡</b></h2> <br>
                    <b> <b>Innovation</b></b> <br>
                    <p class=" fw-semibol">We constantly push boundaries with cutting-edge technology and forward-thinking solutions.

                    </p>
                </div>
            </div>
            <div class="col-sm-3" data-aos="zoom-in">
                <div class="card ps-4" style="width: 15rem; border:2px solid black">
                    <h2 class="ps-5 mt-2 " style="color: red;"><b>🤝</b></h2> <br>
                    <b> <b>Collaboration</b></b> <br>
                    <p class=" fw-semibol">We foster strong relationships with clients, partners, and communities to create lasting impact.

                    </p>
                </div>
            </div>
            <div class="col-sm-3" data-aos="zoom-in">
                <div class="card ps-4" style="width: 15rem; border:2px solid black">
                    <h2 class="ps-5 mt-2 " style="color: red;"><b>✅</b></h2> <br>
                    <b> <b>Excellence</b></b> <br>
                    <p class=" fw-semibol">We maintain the highest standards in every aspect of our work and never compromise on quality.

                    </p>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <br><br>
</div>
<!-- Our Core Values end-->

{% endblock %}