{% extends 'base.html' %}
{% load static %}
{% block title %}
Home page
{% endblock %}

{% block main %}

<!-- <video autoplay muted loop id="background-video">
     <source src="{%static 'video/cini1.mp4'%}" type="video/mp4">
</video> -->
<div class="overlay"></div>
<div class="row "style=" background-color: rgba(200, 200,200 , 0.7); backdrop-filter: blur(3px);" data-aos="fade-up">

    <div class="col-sm-7 text-center">
        <p class="fw-semibold" id="p"> <u>BUILDING TOMORROW TODAY </u></p>
        <div id="text">
            <p class="text-dark">
                <b> <b> Transforming <span style="color: red;"> Visions </span>Into</b></b>
            </p>
            <p class="text-dark"><b><b>Exceptional <span style="color: red;">Structures</span></b></b></p>
        </div>
        <div id="text1">
            <small>
                <p class="text-dark mb-5"> <b>With over 25 years of experience, we deliver innovative construction <br>
                        solutions that exceed expectations and stand the test of time</b>.</p>
            </small>
        </div>


        <div style="padding-left: 160px; padding-top: 20px;" data-aos="fade-right">
            <button style="width: 180px; height: 50px; border-radius:10px; background-color: red;">
                <b class="text-white  ">Get Start</b><i class="fa-solid fa-chevron-right text-white"></i>
            </button>

            <button style="width: 180px; height: 50px; border-radius:10px; border: 1px solid red;  margin-left: 10px; ">
                <b class="text-danger ">Our Project</b><i class="fa-solid fa-chevron-right text-danger"></i>
            </button>
        </div>




    </div>  

    <div class="col-sm-4 mt-5 "> 
        <img src="{% static 'img/index4.png'%}" alt="" height="600px "width="500px">
    </div>


    <div class="row  fade-up   mt-5 py-3"
        style="border: 2px solid black;width: 50%; margin-left: 125px; border-radius: 5px; background-color: black ; "
        data-aos="fade-left">
        <div class="col-sm-4 ps-5  mb-3 pe-5 ">
            <b class="text-danger fw-bold fa-2x"> <b>30+ </b></b><br><b class="text-light">Year Experince</b>
        </div>
        <div class="col-sm-4  ps-5  mb-3 pe-5">
            <b class="text-danger fw-bold fa-2x">250+</b><br><b class="text-light">Project Complete</b>
        </div>
        <div class="col-sm-4 ps-5  mb-3 pe-5 ">
            <b class="text-danger fw-bold fa-2x">90%</b><br><b class="text-light">Client Satisfaction </b>
        </div>
    </div>
</div>








<!-- .dream start -->
<div class="row  mt-5  " style="background-color:rgba(0,0,0,0.9)">
    <div class="col-sm-10 mx-auto">
        <div class="row fade-up mb-4 mt-5">
            <div class="col-sm-6 " id="drem" data-aos="zoom-in"></div>
            <div class="col-sm-6 ps-5  " data-aos="zoom-in-up">
                <p class="fw-bold text-danger "> ABOUT OUR COMPANY</p>
                <div>
                    <h2 class="text-light"> <b> <b> Building Dreams With <br> Excellence & Reliability</b> </b></h2>
                </div>

                <div>
                    <p class="mt-4  text-light fw-semibold">
                        With decades of industry experience, our team of professional builders and architects are
                        dedicated to bringing your vision to life. We handle projects of any scale with meticulous
                        attention to detail and unwavering commitment to quality.
                    </p>
                </div>
                <small>
                    <p class=" text-light mt-4"><i class="fa-regular fa-circle-check text-danger fa-2x"></i> <b
                            class="">
                            Professional team of experienced builders and designers </b></p>
                    <p class="text-light"><i class="fa-regular fa-circle-check text-danger fa-2x"></i><b>High-quality
                            materials
                            sourced
                            from trusted suppliers</b>

                    </p>
                    <p class="text-light"><i class="fa-regular fa-circle-check text-danger fa-2x"></i> <b> On-time
                            project completion and
                            transparent communication</b>


                    </p>
                </small>
                <div class="mt-5"> <button
                        style="width: 270px; height: 50px; border-radius:10px; background-color: red;"> <b
                            class="text-white ">Learn More About US </b><i
                            class="fa-solid fa-chevron-right text-white"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- dream  end -->



<!-- platefrom feature start -->
<div class="row mt-5" style="background-color: black;">
    <div class="col-sm-10 mx-auto" style="margin-top: 50px;">
        <p class="fw-bold text-danger text-center mt-5 "> PLATFORM FEATURES
        </p>
        <h2 class="text-center text-white">
            <b><b>Powerful Tools for Modern Construction</b></b>
        </h2>
        <p class="text-center text-white"> Our comprehensive suite of features empowers every stakeholder in the
            construction
            process with the tools
            <br> they need to succeed.
        </p>


    </div>

    <div class="row " style="background-color: black; margin-bottom: 95px;">
        <div class="col-sm-4 mt-5  mx-" style="padding-left: 148px;">
            <div class="card" style="width: 23rem;" data-aos="zoom-in-down">
                <i class="fas fa-columns fa-2x text-danger ps-4 mt-4"></i>
                <h5 class="ps-4 mt-4"><b>Project Dashboard</b></h5>
                <p class="ps-4 mt-4">Centralized hub for tracking progress, <br> milestones, and resource allocation
                    with <br> intuitive visualizations.</p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i> Real-time status tracking</p>

                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i> Task management system </p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i>Budget monitoring </p>

            </div>
        </div>




        <div class="col-sm-4 mt-5 mx-" style="padding-left: 100px;">
            <div class="card" style="width: 23rem;" data-aos="zoom-in-down">
                <i class="fa-solid fa fa-users fa-2x text-danger ps-4 mt-4"></i>
                <h5 class="ps-4 mt-4"><b>Team Collaboration
                    </b></h5>
                <p class="ps-4 mt-4">Connect all stakeholders in one platform <br> with powerful communication and
                    <br>
                    file-sharing capabilities.
                </p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i> Unified messaging system</p>

                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i>Document sharing & approvals </p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i>Role-based permissions </p>

            </div>
        </div>



        <div class="col-sm-4 mt-5 mx-" style="padding-left: 40px;">
            <div class="card" style="width: 23rem;" data-aos="zoom-in-down">
                <i class="fa-solid fa fa-microchip fa-2x text-danger ps-4 mt-4"></i>
                <h5 class="ps-4 mt-4"><b>3D Visualization
                    </b></h5>
                <p class="ps-4 mt-4"> Experience your construction project in <br> three dimensions before breaking
                    <br>
                    ground.
                </p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i> Interactive models</p>

                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i>Virtual walkthroughs</p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i>Design revisions in real-time </p>

            </div>
        </div>
    </div>



</div>


<!-- platefrom end -->

<!-- oue service start -->
<div class="row">
    <div class="col-sm-10 mx-auto" style="margin-top: 50px;">
        <p class="fw-bold text-danger text-center mt-5 "> OUR SERVICE</p>
        <h2 class="text-center text-dark">
            <b><b> Comprehensive Construction Solutions </b></b>
        </h2>
        <p class="text-center mt"> We offer a wide range of construction services tailored to meet the unique needs
            of
            each project, delivered with <br> exceptional craftsmanship and attention to detail.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 mt-5  mx-" style="padding-left: 148px;">
        <div class="card" style="width: 21rem; box-shadow: 0 0 10px gray;">
            <div class="ps-4 mt-4"> <img src=" {% static 'img/giphy.gif' %}" alt="" height="80px"></div>
            <h5 class="ps-4 mt-4"><b>Residential Construction</b></h5>
            <p class="ps-4 mt-4">From custom homes to multi-family units, we build comfortable, energy-efficient
                residential spaces designed for modern living.</p>
            <p class="ps-4 mt-4"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>

    <div class="col-sm-4 mt-5  " style="padding-left: 90px;">
        <div class="card" style="width: 21rem;box-shadow: 0 0 10px gray;">
            <div class=" mt-2"> <img src=" {% static 'img/house.gif' %}" alt="" height="100px" width="180px"></div>
            <h5 class="ps-4 mt-4"><b>Commercial Buildings</b></h5>
            <p class="ps-4 mt-4">Office spaces, retail centers, and industrial facilities built to the highest
                standards
                of quality and functionality..</p>
            <p class="ps-4 mt-4  pb-3"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>
    <div class="col-sm-4 mt-5 " style="padding-left:10px;">
        <div class="card" style="width: 21rem; box-shadow: 0 0 10px gray;">
            <div class="ps-4 mt-4"> <img src=" {% static 'img/giphy (2).gif' %}" alt="" height="50px"></div>
            <h5 class="ps-4 mt-4"><b>Interior Design</b></h5>
            <p class="ps-4 mt-4">Transform your space with our expert interior design services, creating
                environments
                that
                inspire and delight..</p>
            <p class="ps-4 mt-5 pb-3"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>
</div>





<div class="row">
    <div class="col-sm-4 mt-5  mx-" style="padding-left: 148px;">
        <div class="card" style="width: 21rem; box-shadow: 0 0 10px gray;">
            <div class="ps-4 mt-2"> <img src=" {% static 'img/hom1.gif' %}" alt="" height="70px" width="70px"></div>
            <h5 class="ps-4 mt-4"><b>Renovation & Remodeling</b></h5>
            <p class="ps-4 mt-4">Breathe new life into existing structures with our comprehensive renovation and
                remodeling services..</p>
            <p class="ps-4 mt-5"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>

    <div class="col-sm-4 mt-5  " style="padding-left: 90px;">
        <div class="card" style="width: 21rem; box-shadow: 0 0 10px gray;">
            <div class=" mt-2 ps-4"> <img src=" {% static 'img/ar1.jpg' %}" alt="" height="70px" width="70px"></div>
            <h5 class="ps-4 mt-4"><b>Architectural Design</b></h5>
            <p class="ps-4 mt-4">Innovative architectural solutions that balance aesthetics, functionality, and
                sustainability.</p>
            <p class="ps-4 mt-4  pb-3"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>
    <div class="col-sm-4 mt-5 " style="padding-left:10px; ">
        <div class="card" style="width: 21rem; box-shadow: 0 0 10px gray;">
            <div class=" "> <img src=" {% static 'img/mament.gif' %}" alt="" height="70px" width="120px"></div>
            <h5 class="ps-4 mt-4"><b>Construction Management</b></h5>
            <p class="ps-4 mt-4">Expert oversight of your project from concept to completion, ensuring efficiency
                and
                quality at every stage.</p>
            <p class="ps-4 mt-5 "> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>
</div>



<!-- our service end -->





<!-- our project start -->


<div class="row mt-5" style="background-color: black;">
    <div class="col-sm-11 mx-auto" style="padding-left: 100px; ">
        <p class="text-danger mt-5 fw-semibold">OUR PROJECTS</p>

        <h2 class=" text-white mt">
            <b><b>Featured Construction Projects </b></b>
        </h2>
        <p class="text-white">Take a look at some of our most impressive projects, showcasing our commitment to
            quality,
            <br> innovation, and excellence in construction.
        </p>

        <div class="mt-4 text-end me-5"> <button
                style="width: 200px; height: 50px; border-radius:10px; background-color:black; border: 2px solid red;">
                <b class="text-white ">View All Project </b><i
                    class="fa-solid fa-chevron-right text-white"></i></button>
        </div>



    </div>
</div>



<div class="row" style="background-color: black; ">
    <div class="col-sm-4 mt-5  mx-" style="padding-left: 148px;" data-aos="flip-left">
        <div class="card-body1">


            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Commercial <br>
                        <span style="font-size: 25px; color: white;"> Modern Office Complex</span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project <i class="fa-solid fa-chevron-right text-white"></i></a>


            </div>
        </div>
    </div>

    <div class="col-sm-4 mt-5  mx-" style="padding-left:50px;" data-aos="flip-left">
        <div class="card-body2">

            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Residential<br>
                        <span style="font-size: 25px; color: white;"> Luxury Residential Tower</span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project<i class="fa-solid fa-chevron-right text-white"></i></a>


            </div>
        </div>

    </div>






    <div class="col-sm-4 mt-5  mx-" style="padding-left:10px;" data-aos="flip-left">
        <div class="card-body3">

            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Public<br>
                        <span style="font-size: 25px; color: white;">Sustainable Community Center </span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project<i class="fa-solid fa-chevron-right text-white"></i></a>


            </div>
        </div>

    </div>
</div>












<div class="row" style="background-color: black ;padding-bottom: 100px;" data-aos="flip-left">
    <div class="col-sm-4 mt-5  mx-" style="padding-left: 140px;">
        <div class="card-body4">


            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Industrial<br>
                        <span style="font-size: 25px; color: white;"> Industrial Manufacturing Hub</span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project<i class="fa-solid fa-chevron-right text-white"></i></a>


            </div>
        </div>
    </div>

    <div class="col-sm-4 mt-5  mx-" style="padding-left:50px;" data-aos="flip-left">
        <div class="card-body5">

            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Hospitality<br>
                        <span style="font-size: 25px; color: white;">Waterfront Hotel & Spa</span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project<i class="fa-solid fa-chevron-right text-white"></i></a>


            </div>
        </div>

    </div>






    <div class="col-sm-4 mt-5  mx-" style="padding-left:10px;" data-aos="flip-left">
        <div class="card-body6">

            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Mixed-Use<br>
                        <span style="font-size: 25px; color: white;">Urban Mixed-Use Development</span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project</a>


            </div>
        </div>

    </div>
</div>













<!-- our project end -->

<!-- our process start -->
<div class="row">
    <div class="col-sm-12">
        <p class="fw-bold text-danger text-center mt-5 "> OUR PROCESS</p>
        <h2 class=" text-DARK text-center mt">
            <b><b>How SmartBuild Hub Works </b></b>
        </h2>
        <p class="text-center mt">Our innovative platform transforms the construction journey from concept to
            completion
            through an <BR> intuitive digital workflow that connects all stakeholders..</p>
    </div>
</div>



<div class="row " style="background-color: black; ">
    <div class="col-sm-3 mt-5  mx-" style="padding-left: 140px;">
        <div class="card" style="width: 15rem;"  data-aos="flip-left">
            <i class="fas fa-columns fa-2x text-danger ps-4 mt-4"></i>
            <h5 class="ps-4 mt-4"><b> Project Planning</b></h5>
            <p class="ps-4 mt-4">Create your vision with our intuitive tools. Define requirements, set budgets, and
                establish timelines in a collaborative environment.</p>


        </div>
    </div>



    <div class="col-sm-3 mt-5 mb-5">
        <div class="card" style="width: 15rem; margin-left: 100px;"  data-aos="flip-left">
            <i class="fas fa-layer-group fa-2x text-danger ps-4 mt-4"></i>
            <h5 class="ps-4 mt-4"><b>Team Assembly</b></h5>
            <p class="ps-4 mt-4">Connect with architects, contractors, and suppliers through our verified network to
                build your ideal construction team.</p>


        </div>
    </div>



    <div class="col-sm-3 mt-5 mb-5">
        <div class="card" style="width: 15rem; margin-left: 70px; "  data-aos="flip-left">
            <i class="fas fa-shield fa-2x text-danger ps-4 mt-4"></i>
            <h5 class="ps-4 mt-4"><b>Project Execution</b></h5>
            <p class="ps-4 mt-4">Monitor progress in real-time, approve changes instantly, and maintain clear
                communication throughout construction.</p>


        </div>
    </div>



    <div class="col-sm-3 mt-5 mb-5">
        <div class="card" style="width: 15rem;"  data-aos="flip-left">
            <i class="fas fa-check-circle fa-2x text-danger ps-4 mt-4"></i>
            <h5 class="ps-4 mt-4"><b>Project Completion</b></h5>
            <p class="ps-4 mt-4">Receive comprehensive documentation, warranty information, and maintenance
                schedules
                for your new construction.</p>

        </div>
    </div>



</div>

<!-- our process end -->

<!-- TESTIMONIALS start -->

<div class="row mt-5">
    <div class="col-sm-10 mx-auto">
        <p class="fw-bold text-danger text-center mt-5 "> TESTIMONIALS

        </p>
        <h2 class="text-center text-dark">
            <b><b>What Our Clients Say</b></b>
        </h2>
        <p class="text-center text-dark">Read testimonials from our satisfied clients who have experienced our
            dedication to quality, reliability, and excellence in construction.
            <br> they need to succeed.
        </p>


    </div>

    <div class="row " style=" margin-bottom: 95px;">
        <div class="col-sm-4 mt-5  mx-" style="padding-left: 148px;">
            <div class="card" style="width: 23rem; box-shadow: 0 0 10px gray;" data-aos="zoom-in-down ">
                <i class="fas fa-columns fa-2x text-danger ps-4 mt-4"></i>
                <h5 class="ps-4 mt-4"><b>Project Dashboard</b></h5>
                <p class="ps-4 mt-4">Centralized hub for tracking progress, <br> milestones, and resource allocation
                    with <br> intuitive visualizations.</p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i> Real-time status tracking</p>

                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i> Task management system </p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i>Budget monitoring </p>

            </div>
        </div>




        <div class="col-sm-4 mt-5 mx-" style="padding-left: 100px;">
            <div class="card" style="width: 23rem; box-shadow: 0 0 10px gray;" data-aos="zoom-in-down">
                <i class="fa-solid fa fa-users fa-2x text-danger ps-4 mt-4"></i>
                <h5 class="ps-4 mt-4"><b>Team Collaboration
                    </b></h5>
                <p class="ps-4 mt-4">Connect all stakeholders in one platform <br> with powerful communication and
                    <br>
                    file-sharing capabilities.
                </p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i> Unified messaging system</p>

                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i>Document sharing & approvals </p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i>Role-based permissions </p>

            </div>
        </div>



        <div class="col-sm-4 mt-5 mx-" style="padding-left: 40px;">
            <div class="card" style="width: 23rem; box-shadow: 0 0 10px gray;" data-aos="zoom-in-down">
                <i class="fa-solid fa fa-microchip fa-2x text-danger ps-4 mt-4"></i>
                <h5 class="ps-4 mt-4"><b>3D Visualization
                    </b></h5>
                <p class="ps-4 mt-4"> Experience your construction project in <br> three dimensions before breaking
                    <br>
                    ground.
                </p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i> Interactive models</p>

                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i>Virtual walkthroughs</p>
                <p class="ps-4 mt-2"><i class="fa-solid fa-check text-danger"></i>Design revisions in real-time </p>

            </div>
        </div>
    </div>



</div>








<!-- TESTIMONIALS end -->

<!-- Ready to Build Your Dream Project start -->
<div class="row" style="background-color: red;">
    <div class="col-sm-7" style="padding-left: 120px; padding-top: 140px;">

        <h1 class="text-white "> <b><b>Ready to Build Your Dream Project? </b></b></h4>

            <p class="text-white fw-semibold me-5 ">Let's discuss how we can bring your vision to life with our
                expertise <br> in construction and design.</p>


            <button style="width: 220px; height: 50px; border-radius:10px; background-color: rgb(241, 235, 235);">
                <b class="text-danger">Get Free Estimate</b><i class="fa-solid fa-chevron-right text-danger"></i>
            </button>

            <button
                style="width: 220px; height: 50px; border-radius:10px; border: 1px solid rgb(230, 224, 224);  background-color: red; margin-left: 10px; ">
                <b class="text-light ">Contact us</b><i class="fa-solid fa-chevron-right text-white"></i>
            </button>


    </div>

    <div class="col-sm-5">
        <div class="row" style=" padding-top: 140px;">
            <div class="col-sm-6">
                <div class="card" style="width: 15rem; ">
                    <div class="text-center"><i class="fas fa-home fa-2x   mt-4 " style="color: red;"></i></div>
                    <h5 class="text-center mt-2 " style="color: red;"><b>500+</b></h5>
                    <p class="text-center fw-semibold mt-2" style="color: red;">Projects Completed</p>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="width: 15rem;">
                    <div class="text-center"><i class="fas fa-smile fa-2x   mt-4 " style="color: red;"></i></div>
                    <h5 class="text-center mt-2 " style="color: red;"><b>120+</b></h5>
                    <p class="text-center fw-semibold " style="color: red;">Expert Team Members</p>


                </div>
            </div>
        </div>
        <div class="row mt-3" style="padding-bottom: 120px;">
            <div class="col-sm-6 ">
                <div class="card " style="width: 15rem;">
                    <div class="text-center"><i class="fas fa-calendar fa-2x   mt-4 " style="color: red;"></i></div>
                    <h5 class="text-center mt-2 " style="color: red;"><b>25+</b></h5>
                    <p class="text-center fw-semibold " style="color: red;">Years of Experience</p>
                </div>
            </div>
            <div class="col-sm-6   ">
                <div class="card" style="width: 15rem;">
                    <div class="text-center"><i class="fas fa-clock fa-2x   mt-4 " style="color: red;"></i></div>
                    <h5 class="text-center mt-2 " style="color: red;"><b>98+</b></h5>
                    <p class="text-center fw-semibold " style="color: red;">On-Time Completion</p>

                </div>
            </div>
        </div>


    </div>
</div>

<!-- Ready to Build Your Dream Project? end -->




{% endblock %}
