{% extends 'base.html' %}
{% load static %}
{% block title %}
project page
{% endblock %}



{% block main %}


<div class="row">
    <div class="col-sm-12" style="padding-left: 140px; padding-top: 100px;">
        <p class="fw-bold" style="color: red;">EXCELLENCE IN CONSTRUCTION</p>
        <h1 class="display-2"><b><b>Our Featured Projects</b></b></h1>
        <p><b>Browse our portfolio of exceptional construction projects spanning commercial, residential, and <br>
                public sectors. Each project reflects our commitment to quality and innovation.</b></p>
        <div class="row ">
            <div class="col-sm-11 mx-auto">
                <div class="row" style="margin-top: 30px; margin-bottom: 100px;">
                    <div class="col-sm-3 ps-4 mx-auto">
                        <div class="card" style="width: 15rem; border:2px solid black;">
                            <h2 class="text-center mt-2 " style="color: red;"><b>250+</b></h2>
                            <p class="text-center fw-semibold " style="color: red;">Project Complete</p>
                        </div>
                    </div>
                    <div class="col-sm-3 mx-auto ">
                        <div class="card" style="width: 15rem; border:2px solid black">
                            <h2 class="text-center mt-2 " style="color: red;"><b>30+</b></h2>
                            <p class="text-center fw-semibold " style="color: red;">Year Experience</p>
                        </div>
                    </div>
                    <div class="col-sm-3 mx-auto">
                        <div class="card" style="width: 15rem; border:2px solid black">
                            <h2 class="text-center mt-2 " style="color: red;"><b>120+</b></h2>
                            <p class="text-center fw-semibold " style="color: red;">Expert Team Members</p>
                        </div>
                    </div>
                    <div class="col-sm-3 mx-auto">
                        <div class="card" style="width: 15rem; border:2px solid black">
                            <h2 class="text-center mt-2 " style="color: red;"><b>98%</b></h2>
                            <p class="text-center fw-semibold " style="color: red;">Client Satisfaction</p>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<!-- our project start -->


<div class="row" style="background-color: black; ">
    <div class="col-sm-4 mt-5  mx-" style="padding-left: 148px;" data-aos="flip-left">
        <div class="card-body1">


            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Commercial <br>
                        <span style="font-size: 25px; color: white;"> Modern Office Complex</span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project <i class="fa-solid fa-chevron-right text-white"></i></a>


            </div>
        </div>
    </div>

    <div class="col-sm-4 mt-5  mx-" style="padding-left:50px;" data-aos="flip-left">
        <div class="card-body2">

            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Residential<br>
                        <span style="font-size: 25px; color: white;"> Luxury Residential Tower</span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project<i class="fa-solid fa-chevron-right text-white"></i></a>


            </div>
        </div>

    </div>






    <div class="col-sm-4 mt-5  mx-" style="padding-left:10px;" data-aos="flip-left">
        <div class="card-body3">

            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Public<br>
                        <span style="font-size: 25px; color: white;">Sustainable Community Center </span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project<i class="fa-solid fa-chevron-right text-white"></i></a>


            </div>
        </div>

    </div>
</div>











<div class="row" style="background-color: black ;padding-bottom: 100px;" data-aos="flip-left">
    <div class="col-sm-4 mt-5  mx-" style="padding-left: 140px;">
        <div class="card-body4">


            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Industrial<br>
                        <span style="font-size: 25px; color: white;"> Industrial Manufacturing Hub</span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project<i class="fa-solid fa-chevron-right text-white"></i></a>


            </div>
        </div>
    </div>

    <div class="col-sm-4 mt-5  mx-" style="padding-left:50px;" data-aos="flip-left">
        <div class="card-body5">

            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Hospitality<br>
                        <span style="font-size: 25px; color: white;">Waterfront Hotel & Spa</span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project<i class="fa-solid fa-chevron-right text-white"></i></a>


            </div>
        </div>

    </div>






    <div class="col-sm-4 mt-5  mx-" style="padding-left:10px;" data-aos="flip-left">
        <div class="card-body6">

            <div>
                <p class=" fw-bold ps-2" style="font-size: 25px;  color: rgb(190, 6, 6); margin-top: 98px;">
                    <b>Mixed-Use<br>
                        <span style="font-size: 25px; color: white;">Urban Mixed-Use Development</span>
                    </b>
                </p> <br>
                <a href="" class=" view-btn"> view Project</a>


            </div>
        </div>

    </div>
</div>













<!-- our project end -->
<!-- ready to project -->
<div class="row" style="background-color: red; padding-top: 80px; padding-bottom: 100px;">
    <div class="col-sm-12 text-center">

        <h1 class="text-white "> <b><b>Ready to Build Your Dream Project? </b></b></h1>

        <p class="text-white fw-semibold me-5 ">Let's discuss how our expertise can bring your vision to life. Contact our team today.</p>
         <button style="width: 220px; height: 50px; border-radius:10px; background-color: rgb(241, 235, 235);">
                <b class="text-danger">Get in  Touch</b><i class="fa-solid fa-chevron-right text-danger"></i>
            </button>

    </div>
</div>
{% endblock %}