{% extends 'base.html' %}
{% load static %}
{% block title %}
Service page
{% endblock %}



{% block main %}
<div class="row" id="s1">
    <div class="col-sm-10 mx-auto text-center" style="padding-top: 100px; padding-bottom: 100px;">
        <p class="fw-bold" style="color: red;">PROFESSIONAL CONSTRUCTION SERVICES</p>
        <div id="text">
            <p>
                <b> <b>Building<span style="color: red;"> Excellence </span></b></b>
            </p>
            <p><b><b>Crafting<span style="color: red;">Dreams</span></b></b></p>


        </div>
        <p class="text-dark "> <b>We offer comprehensive construction solutions tailored to your unique <br> needs,
                delivered with exceptional
                craftsmanship and attention to every <br> detail.</b>
        </p>

        <a href="">
            <button style="width: 180px; height: 50px; border-radius:10px; background-color: red;">
                <b class="text-white ">Explore Service</b>
            </button></a>

        <button style="width: 180px; height: 50px; border-radius:10px; border: 1px solid red;  margin-left: 10px; ">
            <b class="text-danger ">Request a Quote</b>
        </button>
    </div>
</div>





<!-- oue service start -->
 
<div class="row">
    <div class="col-sm-10 mx-auto" style="margin-top: 50px;">
        <p class="fw-bold text-danger text-center mt-5 "> OUR SERVICE</p>
        <h2 class="text-center text-dark">
            <b><b> Comprehensive Construction Solutions </b></b>
        </h2>
        <p class="text-center mt-4  mb-5"> We offer a wide range of construction services tailored to meet the unique needs of
            each project, delivered with <br> exceptional craftsmanship and attention to detail.</p>
    </div>
</div>
<div class="row" style="background-color: black;">
    <div class="col-sm-4 mt-5  mx-" style="padding-left: 148px;">
        <div class="card" style="width: 21rem;">
            <div class="ps-4 mt-4"> <img src=" {% static 'img/giphy.gif' %}" alt="" height="80px"></div>
            <h5 class="ps-4 mt-4"><b>Residential Construction</b></h5>
            <p class="ps-4 mt-4">From custom homes to multi-family units, we build comfortable, energy-efficient
                residential spaces designed for modern living.</p>

            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i> Custom Home Building
            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>
                Multi-Family Housing
            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>
                Energy-Efficient Design
            </p>

            <p class="ps-4 mt-4"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>

    <div class="col-sm-4 mt-5   " style="padding-left: 90px;">
        <div class="card" style="width: 21rem;">
            <div class=" mt-2"> <img src=" {% static 'img/house.gif' %}" alt="" height="100px" width="180px"></div>
            <h5 class="ps-4 mt-4"><b>Commercial Buildings</b></h5>
            <p class="ps-4 mt-4">Office spaces, retail centers, and industrial facilities built to the highest standards
                of quality and functionality..</p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>Office Complexes
            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>Retail & Hospitality
            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>Industrial Facilities
            </p>

            <p class="ps-4 mt-4  pb-3"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>
    <div class="col-sm-4 mt-5 " style="padding-left:10px;">
        <div class="card" style="width: 21rem;">
            <div class="ps-4 mt-4"> <img src=" {% static 'img/giphy (2).gif' %}" alt="" height="50px"></div>
            <h5 class="ps-4 mt-4"><b>Interior Design</b></h5>
            <p class="ps-4 mt-4">Transform your space with our expert interior design services, creating environments
                that
                inspire and delight..</p>
            <p class="ps-4 mt-3">
                <i class="fa-solid fa-check text-danger"></i>Space Planning

            </p>


            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i> Custom Furnishings
            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>
                Material Selection
            </p>
            <p class="ps-4 mt-4 pb-3"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>
</div>





<div class="row" style="background-color: black;">
    <div class="col-sm-4 mt-5  mx-" style="padding-left: 148px;">
        <div class="card" style="width: 21rem;">
            <div class="ps-4 mt-2"> <img src=" {% static 'img/hom1.gif' %}" alt="" height="70px" width="70px"></div>
            <h5 class="ps-4 mt-4"><b>Renovation & Remodeling</b></h5>
            <p class="ps-4 mt-4">Breathe new life into existing structures with our comprehensive renovation and
                remodeling services..</p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>Kitchen & Bath Remodels

            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>
                Historic Renovations

            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>

                Commercial Retrofits
            </p>




            <p class="ps-4 mt-5"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>

    <div class="col-sm-4 mt-5  " style="padding-left: 90px;">
        <div class="card" style="width: 21rem;">
            <div class=" mt-2 ps-4"> <img src=" {% static 'img/ar1.jpg' %}" alt="" height="70px" width="70px"></div>
            <h5 class="ps-4 mt-4"><b>Architectural Design</b></h5>
            <p class="ps-4 mt-4">Innovative architectural solutions that balance aesthetics, functionality, and
                sustainability.</p>

            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>Concept Development
            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>3D Visualization
            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>Sustainable Design
            </p>

            <p class="ps-4 mt-4  pb-3"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>
    <div class="col-sm-4 mt-5  mb-5" style="padding-left:10px;">
        <div class="card" style="width: 21rem;">
            <div class=" "> <img src=" {% static 'img/mament.gif' %}" alt="" height="50px" width="120px"></div>
            <h5 class="ps-4 mt-4"><b>Construction Management</b></h5>
            <p class="ps-4 mt-4">Expert oversight of your project from concept to completion, ensuring efficiency and
                quality at every stage.</p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>Project Planning
            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>Budget Management
            </p>
            <p class="ps-4">
                <i class="fa-solid fa-check text-danger"></i>Quality Control
            </p>
            <p class="ps-4 mt-4 pb-5"> <a href="" class="text-decoration-none text-danger"> <b>Learn more </b><i
                        class="fa-solid fa-chevron-right text-danger"></i></a></p>

        </div>
    </div>
</div>



<!-- our service end -->

<!-- feature start -->
<div class="row">
    <div class="col-sm-6" style="padding-left: 140px; padding-top: 90px;">
        <p style="color: red;"> <b>FEATURED SERVICE</b></p>
        <h2><b><b>Sustainable Building Practices</b></b></h2>
        <p><b>We're committed to environmentally responsible construction. Our sustainable building practices
                incorporate the latest green technologies and materials to minimize environmental impact while
                maximizing energy efficiency and occupant comfort.
            </b>
        </p>


        <div class="row">
            <div class="col-sm-2 text-end">
                <p><i class="fas fa-sun fa-2x text-white  fa-bounce"
                        style="background-color: red; height: 50px; width: 50px; border-radius: 30% ; padding:10px ;">
                    </i>
            </div>
            <div class="col-sm-10">
                <b>Energy Efficiency</b> <br>
                Solar integration and passive design strategies
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 text-end">
                <p><i class="fas fa-droplet fa-2x text-white  fa-bounce"
                        style="background-color: red; height: 50px; width: 50px; border-radius: 30% ; padding:10px ;">
                    </i>
            </div>
            <div class="col-sm-10"> <b>Water Conservation</b> <br>
                Rainwater harvesting and low-flow fixtures
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 text-end">
                <p><i class="fa-solid fa-recycle fa-2x text-white  fa-bounce"
                        style="background-color: red; height: 50px; width: 50px; border-radius: 30% ; padding:10px ;">
                    </i>
            </div>
            <div class="col-sm-10"> <b>Recycled Materials</b> <br>
                Responsibly sourced and eco-friendly building materials </div>
        </div>
    </div>

    <div class="col-sm-6" style="padding-top: 60px; padding-bottom: 100px;">
        <img src="{% static 'img/feat.jpg' %}" alt="" height="500px">
    </div>
</div>


<!-- feature end  -->

{% endblock %}