{% extends 'adminbase.html'%}


{% block admin %}
<div class="row">
    <div class="col-sm-12">
        <h2>Manage Home owners</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th class="fw-bold">S.NO</th>
                <th class="fw-bold">Name</th>
                <th class="fw-bold">Contact</th>
                <th class="fw-bold">Email</th>
                <th class="fw-bold">picture</th>
                <th class="fw-bold">Address</th>
                <th class="fw-bold">Action</th>


            </tr>
            <tr>
            {% for h in homeowners %}
            <td>{{forloop.counter}}</td>
            <td>{{h.name}}</td>
            <td>{{h.contactno}}</td>
            <td>{{h.email}}</td>
            <td>
                {% if h.picture %}
                <img src="{{h.picture.url}}" alt="" height="80px">
                {% else %}
                No profile
                {%endif%}

            </td>
            <td>
                {{h.address}}
            </td>
            <td> <a href=""class="btn btn-danger">Block</a></td>

                </tr>
                {% endfor %}


        </table>
    </div>
</div>
{% endblock %}